@font-face {
    font-family: 'TT Firs Neue';
    src: url('../../fonts/TT_Firs_Neue/tt_firs_neue_trial_regular.woff2') format('woff2'),
         url('../../fonts/TT_Firs_Neue/tt_firs_neue_trial_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Firs Neue';
    src: url('../../fonts/TT_Firs_Neue/tt_firs_neue_trial_bold.woff2') format('woff2'),
         url('../../fonts/TT_Firs_Neue/tt_firs_neue_trial_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/roboto-regular.woff2') format('woff2'),
         url('../../fonts/Roboto/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/roboto-bold.woff2') format('woff2'),
         url('../../fonts/Roboto/roboto-regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  