$color-text-primary: #FFFFFF;
$color-text-secondary: #CACACA;
$color-text-dark: #202020;
$color-background-dark: #202020;
$color-background-light: #FFFFFF;
$color-background-input: #4A4A4A;
$color-primary: #FF6E30;
$color-hover:  #BC572B;
$color-focus: #FF6E30;
$color-active:  #CE4307;
$color-text-cop: #E9E9E9;


$section-spacing-large: 68px;
$section-spacing-default: 50px;
$section-spacing-small: 40px;